{% extends "base.html.twig" %}

{% block body %}
    <ol>
        <li>
            <a href="{{ path('app_load_files') }}" class="btn btn-danger">Load Files</a>
        </li>
        <li>  <a href="{{ path('app_reflection') }}" class="btn btn-warn">Reflect</a> </li>
        <li>  <a href="{{ path('app_reflection') }}" class="btn btn-warn">Reflect and create files</a> </li>
    </ol>


    {{ block('install') }}
{% endblock %}


{% block install %}
    Install status.
    <a href="{{ path('app_ca_index') }}">Go to Providence Home Page</a>
{% endblock %}
