{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ block('files') }}
        </div>
    </div>
{% endblock %}

{% block classes %}
{% endblock %}

{% block xclasses %}
    {% for filename, classInfo in classes  %}
    <h3>{{ filename }} {{ classInfo.status }}</h3>
    <ul>
        <li><span title="{{ classInfo.filename }}">{{ classInfo.ns }}</span><sup>{{ classInfo.lineCount }}</sup>

            <h4>{{ classInfo.includes|length }} includes</h4>
            <ol>
                {% for path, ns in classInfo.includes %}
                    <li>
                        use {{ ns }}; // {{ path }}
                    </li>
                {% endfor %}
            </ol>
        </li>
    </ul>
    {% endfor %}
    
{% endblock %}

{% block files %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Status</th>
            <th>#Cl</th>
            <th>#Inc</th>
            <th>PhpFile/Includes</th>
            <th>Classes</th>
        </tr>
        </thead>

        <tbody>
        {% for filename, phpFile in files|slice(0, 50) %}
            <tr valign="top">
                <td>
                    {{ phpFile.status }}
                </td>
                <td>
                    {{ phpFile.classCount }}
                </td>
                <td>
                    {{ phpFile.functionFileCount }}
                </td>
                <td>
                    {% if phpFile.errorText %}
                    <div class="text-danger">
                        {{ phpFile.errorText }}
                    </div>
                    {% endif %}
                    {{ phpFile.relativeFilename }} <span class="badge badge-light">{{ phpFile.requiredPhpFiles.count }}</span>
                    #Uses: {{ phpFile.uses|length }}
                    <ul class="list">
                        {#                        this first three (more?) are included everywhere#}
                        {% for use in phpFile.uses|slice(0,3) %}
                        <li class="list-item" title="">
                            {{ use }}
                            {% endfor %}
                    </ul>

                    #reqPhpFiles: {{ phpFile.requiredPhpFiles.count }}
                    <ul class="list">
{#                        this first three (more?) are included everywhere#}
                        {% for reqPhpFile in phpFile.requiredPhpFiles|slice(3) %}
                            <li class="list-item" title="">
{#                                {% set includedPhpFile = files[includeFile]|default({includes: []}) %}#}
                                {{ reqPhpFile.requiredPhpFiles|length }}
                                {{ reqPhpFile.relativeFilename }}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#F</th>
                            <th>Type</th>
                            <th>Detail</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for phpClass in phpFile.phpClasses %}
                            <tr>
                                <td>
                                    f({{ phpClass.functionList|length }})
                                </td>
                                <td>

                                <a target="_blank" href="file://{{ phpClass.realPath }}">
                                    namespace <b title="{{ phpClass.realPath }}">{{ phpClass.namespace  }}</b>;
                                </a>
                                    {% if phpClass.isClass %}
                                        <br />
                                    cl {{ phpClass.name }}
                                    {{ phpClass.extends ? "ext " ~ phpClass.extends }}
                                    {{ phpClass.implements|length ? "imp " ~ phpClass.implements|join(',') }}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if phpClass.isClass %}
                                    As Use: use {{ phpClass.use }};
                                    {% else %}
                                        Add {{ phpClass.relativePath }} to files key in composer.json
                                        @todo: use function names w/o duplicates.
                                        {% endif %}
                                    {% if phpClass.status %}
                                        <div class="text-danger">php -l {{ phpClass.realPath }}</div>
                                    {% endif %}
                                    {#                        {% for functionName in phpClass.functionList %}#}
                                    {#                            <small>{{ functionName }}()</small>#}
                                    {#                        {% endfor %}#}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

