{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {{ block('files') }}
        </div>
        <div class="col-md-6">
            {{ block('classes') }}
        </div>
    </div>
{% endblock %}

{% block classes %}
{{ dump(classes) }}
{% endblock %}

{% block xclasses %}
    {% for filename, classInfo in classes  %}
    <h3>{{ filename }} {{ classInfo.status }}</h3>
    <ul>
        <li><span title="{{ classInfo.filename }}">{{ classInfo.ns }}</span><sup>{{ classInfo.lineCount }}</sup>

            <h4>{{ classInfo.includes|length }} includes</h4>
            <ol>
                {% for path, ns in classInfo.includes %}
                    <li>
                        use {{ ns }}; // {{ path }}
                    </li>
                {% endfor %}
            </ol>
        </li>
    </ul>
        {{ loop.index == 2 ? dump(classInfo.includes) }}
    {% endfor %}
    
{% endblock %}

{% block files %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Status</th>
            <th>File/Classes</th>
            <th>Initial Includes</th>
        </tr>
        </thead>

        <tbody>
        {% for filename, phpFile in files %}
            <tr valign="top">
                <td>
                    {{ phpFile.status }}
                </td>
                <td>
                    {{ phpFile.relativeFilename }} <span class="badge badge-light">{{ phpFile.includes|length }}</span>
                    <ul class="list">
                        {% for includeFile, original in phpFile.initialIncludes %}
                            <li class="list-item">{{ includeFile }}->{{ original }}</li>
                        {% endfor %}
                    </ul>

                    <ul class="list-unstyled">
                        {% for phpClass in phpFile.phpClasses %}
                            <a target="_blank" href="file://{{ phpClass.realPath }}">
                                {{ phpClass.realPath }}
                            </a>
                            <b>namespace {{ phpClass.namespace  }};</b>
                            class {{ phpClass.name }} {...}<br />
                            As Use: use {{ phpClass.use }};
                            {% if phpClass.status %}
                            <div class="text-danger">php -l {{ phpClass.realPath }}</div>
                            {% endif %}
                            {#                        {% for functionName in phpClass.functionList %}#}
                            {#                            <small>{{ functionName }}()</small>#}
                            {#                        {% endfor %}#}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

