{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {{ block('files') }}
        </div>
        <div class="col-md-6">
            {{ block('classes') }}
        </div>
    </div>
{% endblock %}

{% block classes %}
{{ dump(classes) }}
{% endblock %}

{% block xclasses %}
    {% for filename, classInfo in classes  %}
    <h3>{{ filename }} {{ classInfo.status }}</h3>
    <ul>
        <li><span title="{{ classInfo.filename }}">{{ classInfo.ns }}</span><sup>{{ classInfo.lineCount }}</sup>

            <h4>{{ classInfo.includes|length }} includes</h4>
            <ol>
                {% for path, ns in classInfo.includes %}
                    <li>
                        use {{ ns }}; // {{ path }}
                    </li>
                {% endfor %}
            </ol>
        </li>
    </ul>
        {{ loop.index == 2 ? dump(classInfo.includes) }}
    {% endfor %}
    
{% endblock %}

{% block files %}
    <table class="table">
        <tbody>
        {% for filename, phpFile in files %}
            <tr valign="top">
                <td>
                    {{ phpFile.status }}
                </td>
                <td>
                    {{ phpFile.relativeFilename }}
                </td>
                <td>
                    {% for phpClass in phpFile.phpClasses %}
                        {{ phpClass.name }}
                        {% for functionName in phpClass.functionList %}
                            <small>{{ functionName }}()</small>
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

